<%= render "shared/devisenavbar" %>
<h1>Show Page for Listings</h1>

<h1><%= @listing.name %></h1>

 <div class="listing">
    <p>Name: <%= @listing.name %></p>
    <p>Price: $<%= @listing.price%></p>
    <p>Eco Stars: <%= '⭐️' * @listing.eco_rating %></p>
    <%= image_tag @listing.picture, class: "listing-image" if @listing.picture.attached? %>

  <% if @listing.brand == current_user.brand %>
    <%= link_to "Remove Listing", listing_path(@listing.id), :method => :delete %>
    <%= link_to 'Edit Listing', edit_brand_path %>
  <% end %> 

  <%= link_to "Back", listings_path %> 


  <%# <%= link_to "Remove Product", listing_path(@listing.id), :method => :delete %>
  <%# <%= link_to 'Edit Product', edit_listing_path %> 