<%= render "shared/devisenavbar" %>

<h1><%= @listing.name %></h1>

<div class='listing-show'>
<div class="card" style="width: 25rem;">
  <%= image_tag @listing.picture, class: "card-img-top" if @listing.picture.attached? %>
  <div class="card-body">
    <h5 class="card-title"><%= @listing.name %></h5>
    <p class="card-text">Eco Stars: <%= '⭐️' * @listing.eco_rating%></p>
    <p class= "card-text">$<%= @listing.price %></p>
    <p class= "card-text"><%= @listing.description %></p>
    <button data-stripe="payment", id="stripe", class="btn-success">Purchase</button>
  <%# <%= number_to_currency(@listing.price)%> 
  </div>
</div>
</div>
<%= link_to "Go To Brand", brand_path(@listing.brand.id), class: "btn btn-primary show-button" %>

<script src="https://js.stripe.com/v3/"></script>
<%= javascript_pack_tag "stripe" %>

  <!--Modals for Edit/delete If user is signed in and made the brand -->
  <% if @listing.brand == current_user.brand %>
  <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary listing-button" data-toggle="modal" data-target="#editModal">
        Update Details
      </button>
        <!-- Modal for Edit -->
        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= render 'listingform', listing: @listing %>
              </div>
            </div>
          </div>
        </div>
<!-- Button trigger For DELETE-->
    <%= link_to "Remove Listing", listing_path(@listing.id), :method => :delete,class: "btn btn-primary listing-button" %>
  <% end %> 
