<%= render "shared/devisenavbar" %>

<h1><%= @listing.name %></h1>

<div class="card" style="width: 18rem;">
  <%= image_tag @listing.picture, class: "card-img-top" if @listing.picture.attached? %>
  <div class="card-body">
    <h5 class="card-title"><%= @listing.name %></h5>
    <p class="card-text">Eco Stars: <%= '⭐️' * @listing.eco_rating%></p>
    <p class= "card-text">$<%= @listing.price %></p>
  <%= link_to "Back", listings_path, class: "btn btn-primary" %> 
  <%= link_to "View Brand", brand_path(@listing.brand.id), class: "btn btn-primary" %>
  </div>
</div>

  <% if @listing.brand == current_user.brand %>
    <%= link_to "Remove Listing", listing_path(@listing.id), :method => :delete %>
    <%= link_to 'Edit Listing', edit_listing_path %>
  <% end %> 