<% listings.each do |listing| %>
  <div class="col-sm-4 my-2">
    <div class="card h-100" style="width: 18rem;" >
      <%= image_tag listing.picture, class: "card-img-top" if listing.picture.attached? %>
      <div class= "card-body" >
        <p><%= listing.name%></p>
        <p>$ <%= listing.price %></p>
        <p>Eco Stars: <%= '⭐️' * listing.eco_rating %></p>
      </div>
      <div class="card-body">
        <%= link_to "View", listing_path(listing.id), class: "btn-success view-link"  %>
        <% if current_user.likes.pluck(:listing_id).include?(listing.id) %>
          <p class="like">❤️</p>
          <%= link_to 'Unlike', unlike_path(listing.id), method: :delete, class: "like" %>
        <% else current_user.likes.includes!(listing.id) %>
          <%= link_to 'Fave!', listing_likes_path(listing.id), method: :post, class: "like" %>
        <% end %> 
      </div>
    </div>
  </div>
<% end %>