<%= render "shared/devisenavbar" %>

<div class="logo=container", id="top">
<%= image_tag "MOHKILOGO.png", alt: 'mohki logo', class: 'home-logo'%>
</div>

<div class="home-image-container">

  <div class="text-center">
    <%= link_to "#about-us" do %>  
      <%= image_tag "aboutus.jpg", class: "home-image" %> 
    <% end %> 
    <h2>About Us</h2>
  </div>

  <div class="text-center">
  <%= link_to "#faq" do %> 
    <%= image_tag "faq.jpg", class: "home-image" %>
  <% end %>
    <h2>FAQ</h2>
  </div>

  <div class="text-center">
  <%= link_to brands_path do %> 
    <%= image_tag "blog.jpg", class: "home-image" %>
  <% end %>
    <h2>Shop</h2>
  </div>

</div>

  <br>

  <div class= "home-body-container">
    <h2 class= "home-heading" id="about-us">🍄</h2>
      <h3>Meet The Team</h3>
      <p class="home-body">
        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta 
        sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro 
        quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non 
        numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim 
        ad minima veniam. 
      </p>
      <%= image_tag "work.jpg", class: "about-us-img"%>
      <%= image_tag "team.jpg", class: "about-us-img"%>
      <%= image_tag "oils.jpg", class: "about-us-img"%>
      <h3>Our Founders</h3>
      <p class="about-body-text">
        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta 
        sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro 
        quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non 
        numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
      <%= image_tag "founders.jpg", class: "about-us-img"%>
      <%= image_tag "puta.jpg", class: "about-us-img"%>
      <%= image_tag "beach.jpg", class: "about-us-img"%>
      </p>
      <p class="home-body">
        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta 
        sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro 
        quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non 
        numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim 
        ad minima veniam. 
      </p>

    <h2 class= "home-heading" id="faq">FAQ</h2>
    <h4>How Can I Become a Brand Partner?</h4>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta 
        sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
        </p>
    <h4>Why We're So Strict With Brand Partners</h4>
        <p>
        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non 
        numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim 
        ad minima veniam. 
      </p>
    <h4>Eco Star Rating Calculation (Products) ⭐️ </h4>
      <p>
        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non 
        numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim 
        ad minima veniam. 
      </p>

    <h4>Shipping Information</h4>
      <p>
        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta 
        sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro 
        quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non 
        numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.  
      </p>
    <h4>About Our Compostable Packaging</h4> 
      <p>
        sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro 
        quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non 
        numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.  
      </p>
    <h4>How Do We Reduce Our Carbon Footprint?</h4>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta 
        sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
      </p>
    <h4>Returns Policy</h4>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta 
        sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
      </p>
    <h4>Our Loyalty Points System</h4>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta 
        sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
      </p>

    <div class="contact-us">    
      <h5>Contact Us</h5>
        <p><strong>Email:</strong> mohki@skincarehub.com</p>
        <p><strong>Phone:</strong> 1800 MOHKI</p>
    </div>

  </div>

  <%= link_to "#top" do %> 
    <%= "Back To Top" %>
  <% end %>

  <footer>&copy; 2020, Mohki.Inc</footer>