<%= render "shared/devisenavbar" %>

<div class="logo=container">
<%= image_tag "MOHKILOGO.png", alt: 'mohki logo', class: 'home-logo'%>
</div>

<div class="home-image-container">

  <div class="text-center">
    <h2>About Us</h2>
    <%= link_to "#about-us" do %>  
      <%= image_tag "aboutus.jpg", class: "home-image" %> 
    <% end %> 
  </div>

  <div class="text-center">
    <h2>FAQ</h2>
  <%= link_to "#faq" do %> 
    <%= image_tag "faq.jpg", class: "home-image" %>
  <% end %>
  </div>

  <div class="text-center">
    <h2>Mohki Store</h2>
  <%= link_to brands_path do %> 
    <%= image_tag "blog.jpg", class: "home-image" %>
  <% end %>
  </div>
</div>

  <br>

  <div class= "home-body-container">
    <h2 class= "home-heading" id="about-us">About Us</h2>
      <p class="home-body">
        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta 
        sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro 
        quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non 
        numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim 
        ad minima veniam. 
      </p>

    <h2 class= "home-heading" id="faq">FAQ</h2>
      <p class="home-body">
        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta 
        sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro 
        quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non 
        numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim 
        ad minima veniam. 
      </p>
  </div>