<div>
    <%= form_with model: @brand, local: true do |f| %>
    <% if @brand.errors.any? %>
    <%= @brand.errors.full_messages %> 
    <% end %>

    <p>Name: <%= f.text_area :name %></p>
    <p>Price Range: <%= f.number_field :price_range %> </p>
    <p>Speciality: <%= f.text_area :speciality %></p>
    <p>Logo: <%= f.file_field :picture, accept: 'image/png, image/jpg, image/jpeg' %></p>
    <p>Please tick if you meet the requirements: <%= f.check_box :terms_of_service %></p>
    <%= f.submit id: "Get Started!" %>
    <% end %>
</div>



