<%= render "shared/devisenavbar" %>
<h1><%= @brand.name %></h1>



<div class="card" style="width: 18rem;">
    <%= image_tag @brand.picture, class: "card-img-top" if @brand.picture.attached? %>
  <div class="card-body">
    <h5 class="card-title"><%= @brand.name %></h5>
    <p class="card-text">$<%= price_visual(@brand.price_range) %></p>
    <p class="card-text"><%= @brand.speciality %></p>
  </div>

  <div class="card-body">
  <%= link_to "Back", brands_path %> 
  <%= link_to "View Products", brand_listings_path %> 
  </div>
</div> 


<!--Modals for Edit/delete If user is signed in and made the brand -->
  <% if user_signed_in? && current_user.brand == @brand %> 
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
  Update Details
</button>
<!-- Modal for Edit -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'brandform', brand: @brand %>
      </div>
    </div>
  </div>
</div>
<!-- Button trigger For DELETE-->
      <%= link_to "Delete Brand Profile", brand_path(@brand.id), :method => :delete, class: "btn btn-primary" %>
<% end %> 


