<%= render "shared/devisenavbar" %>
<h1><%= @brand.name %></h1>


  <%#  these go outside of div for bootstrap %>
  <%= link_to "Back", brands_path %> 
  <%= link_to "View Products", brand_listings_path %> 

  <% if user_signed_in? && current_user.brand == @brand %> 
    <%= link_to "Delete Brand Profile", brand_path(@brand.id), :method => :delete %>
    <%= link_to 'Edit Brand Profile', edit_brand_path %>
  <% end %> 
<%#  and above  %>

<div class="card" style="width: 18rem;">
    <%= image_tag @brand.picture, class: "card-img-top" if @brand.picture.attached? %>
  <div class="card-body">
    <h5 class="card-title"><%= @brand.name %></h5>
    <p class="card-text">$<%= price_visual(@brand.price_range) %></p>
    <p class="card-text"><%= @brand.speciality %></p>
  </div>

  <div class="card-body">
  <%= link_to "Back", brands_path %> 
  <%= link_to "View Products", brand_listings_path %> 
  </div>
</div>