<%= render "shared/devisenavbar" %>
<h1><%= @brand.name %></h1>

 <div class="brand">
    <p>Name: <%= @brand.name %></p>
    <p>Price Range: <%= price_visual(@brand.price_range) %></p>
    <p>Speciality: <%= @brand.speciality %></p>
    <%= image_tag @brand.picture, class: "brand-logo" if @brand.picture.attached? %>
  </div>
  <%= link_to "Back", brands_path %> 

  <% if user_signed_in? && current_user.brand == @brand %> 
    <%= link_to "Delete Brand Profile", brand_path(@brand.id), :method => :delete %>
    <%= link_to 'Edit Brand Profile', edit_brand_path %>
  <% end %> 

